<h2 style="text-align: center;">Login</h2>
<form
  action="api/sessions/login"
  method="post"
  style="display: flex; flex-direction:column; padding:50px;"
>
  <input
    type="email"
    name="email"
    id="email"
    placeholder="email"
    style="padding:20px"
  />
  <input
    type="password"
    name="password"
    id="password"
    placeholder="contraseña"
    style="padding:20px"
  />
  <button type="submit" style="padding:20px">Login</button>
  <p><a href="http://localhost:4000/singin" style="padding:20px">
      Registrate
    </a></p>
</form>