<div style="display: flex; justify-content:space-around; align-items:center">

  <h1>
    SmartEcommers
  </h1>
  <ul style="display: flex; font-size:25px; ">
    <li style="list-style:none; padding:5px"><a
        style="text-decoration: none; color: black"
        href="http://localhost:4000/products"
      >Home</a></li>
    <li style="list-style:none; padding:5px"><a
        style="text-decoration: none; color: black"
        href="http://localhost:4000/singin "
      >Singin</a></li>
    <li style="list-style:none; padding:5px"><a
        style="text-decoration: none; color: black"
        href="http://localhost:4000/login "
      >Login</a></li>
  </ul>

</div>